        
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; <%= lastName %> <br />
            <strong>Disclaimer:</strong> <%= disclaimer %>
            <figure>
                <img src="img/CSUMB_logo.png" alt="CSUMB Logo">
            </figure>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>