<%- include('partials/header.ejs') %>
        <hr />
        <br /><br />
        <main>
        
            <figure>

                 <img src="img/ltm.png" alt="Picture of LTM">
                
            </figure>
            <div id="content">
                <p> <abbr title="Local Traffic Manager">LTM</abbr>'s are commonly used to distribute traffic among servers. This helps with the case of servers being overloaded by traffic. With a LTM
                you are able to manage the traffic distribution all while monitoring your service. With a load balancer such as F5's BIG-IP LTM's, it automatically detects when a server 
                goes down and can taker that server out of traffic. If all servers are marked down, the entire virtual server will be marked down. Along with monitoring,
                you also get a full proxy which means you can analyze any traffic coming in to your service.  </p><br />

            </div>
        
            
        </main>
<%- include('partials/footer.ejs') %>