<%- include('partials/header.ejs') %>
        <hr />
        <main>
            <div class="sources">
                <p><a class= "sources" href="https://www.f5.com/products/big-ip-services/local-traffic-manager" target="_blank">Local Traffic Manager</a></p>
                <p><a class= "sources" href="https://techdocs.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/ltm-basics-13-0-0/3.html" target="_blank">Nodes</a></p>
                <p><a class= "sources" href="https://techdocs.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/ltm-basics-11-6-0/4.html#:~:text=A%20pool%20is%20a%20logical,are%20members%20of%20that%20pool." target="_blank">Pool</a></p>
                <p><a class= "sources" href="https://techdocs.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/ltm-basics-11-6-0/2.html" target="_blank">Virtual Servers</a></p>
                
               
                
            </div>
            
        </main>
<%- include('partials/footer.ejs') %>